@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.text-center {
  text-align: center;
}
.cart-small-text {
  color: #222;
  text-align: center;
  font-weight: 600;
  @include respond(md) {
    font-size: calc(8px + 0.8vw);
  }
  a {
    line-height: 45px;
    color: chocolate;
    cursor: pointer;
    text-decoration: underline;
  }
}
.cart-page {
  margin-bottom: 1rem;
  .row-table {
    display: flex;
    justify-content: space-between;

    &__key,
    &__value {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .btn-checkout {
    width: 100%;
    font-size: 1.2rem;
  }
  .cart-page__actions {
    background-color: #ededed;
    margin-bottom: 1rem;
  }
}
.line-items {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ededed;
}
.line-items__left {
  max-width: 79%;
  svg {
    cursor: pointer;
  }
  .checkout-img-box {
    position: relative;
    margin-left: -100px;
    width: 100px;
    height: 100px;
    float: left;
    cursor: pointer;
    //   height: 100px;
  }
  .checkout-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    .checkout-des__name {
      font-size: 13px;
      text-align: left;
      padding-left: 6px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: chocolate;
      }
    }
    .checkout-des__adjust {
      margin-left: 6px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #ededed;
      padding: 3px 3px 2px 3px;
      color: #343434;
      width: 120px;

      svg {
        display: inline-block;
        font-size: 1.58rem;
      }
      span {
        display: inline-block;
        position: relative;
        font-size: 16px;
        top: 4px;
      }
    }
  }
}
.line-items__price {
  max-width: 20%;
  float: right;
}
.line-items__price {
  p {
    margin: 5px 0;
    position: relative;
    bottom: -40px;
    right: 0;
    display: block;
    line-height: 1;
  }
  .line-items__delete {
    top: 0;
    width: 20px;
    margin-left: auto;
  }
}

// .img-box {
//   display: block;
//   width: 220px;
//   height: 220px;
// }
// SUCCESS PAGE
.success-page {
  padding-bottom: 1rem;
  .thanks {
    text-align: center;
    font-family: "Monoton", cursive;
    font-size: 80px;
    color: white;
    padding: 5rem;
    background-color: darkslategrey;
    margin-bottom: 2rem;
  }
}
.success-email {
  font-size: 25px;
  color: chocolate;
  text-align: center;
}
.success-back {
  font-size: 25px;

  text-align: center;
  a {
    color: darkblue;
    &:hover {
      text-decoration: underline;
    }
  }
}
