.cart-small-text {
  color: #222;
  text-align: center;
  font-weight: 600;
  @include respond(md) {
    font-size: calc(8px + 1vw);
  }
}
.cart-page {
  .row-table {
    display: flex;
    justify-content: space-between;

    &__key,
    &__value {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .btn-checkout {
    width: 100%;
  }
}
.line-items {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ededed;
}
.line-items__left {
  max-width: 79%;
  .checkout-img-box {
    position: relative;
    margin-left: -100px;
    width: 100px;
    height: 100px;
    float: left;
    //   height: 100px;
  }
  .checkout-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    .checkout-des__name {
      font-size: 13px;
      text-align: left;
      padding-left: 6px;
    }
    .checkout-des__adjust {
      margin-left: 6px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #ededed;
      padding: 3px 3px 2px 3px;
      color: #343434;
      width: 120px;

      svg {
        display: inline-block;
        font-size: 1.58rem;
      }
      span {
        display: inline-block;
        position: relative;
        font-size: 20px;
        top: 2px;
      }
    }
  }
}
.line-items__price {
  max-width: 20%;
  float: right;
}
.line-items__price {
  p {
    margin: 5px 0;
    position: relative;
    bottom: -40px;
    right: 0;
    display: block;
    line-height: 1;
  }
  .line-items__delete {
    top: 0;
    width: 20px;
    margin-left: auto;
  }
}

// .img-box {
//   display: block;
//   width: 220px;
//   height: 220px;
// }
