.btn {
  position: relative;
  padding: 0.6rem 1.6rem;
  color: $btn-color;
  border: 1px solid $btn-color;
  outline: none;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: all 400ms ease-in-out;
  @include respond(md) {
    padding: 1rem 2rem;
  }
  z-index: 2;

  background-color: rgba($color: #fff, $alpha: 0);
  box-shadow: inset 2px 1em 3em 0em rgb(243, 232, 232);
}
.btn-shadown {
  box-shadow: 6px 6px 0 0 #ffde00;
}
.btn-bg {
  background-color: rgba($color: #fff, $alpha: 0);
  background-color: $btn-color;
  color: white;
}
.btn-icon {
  padding: 2px;
  position: absolute;
  left: 10px;
  transform: translateY(-4px);

  svg {
    // color: #222;
  }
  // display: none;
}
// HOVER
.btn-raise:hover {
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.35em);
}
