.boxFull {
  width: 100%;
}
.box {
  // display: flex;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $box-padding;
  padding-right: $box-padding;
}
.boxFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
}

@mixin respond($x) {
  @if $x == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $x == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
}

@for $x from 1 through 12 {
  .col-#{$x} {
    width: 100%;
    max-width: percentage(1/12) * $x;
  }
}

@media (min-width: 768px) {
  @for $x from 1 through 12 {
    .col-md-#{$x} {
      width: 100%;
      max-width: percentage(1/12) * $x;
    }
  }
}

@media (min-width: 992px) {
  @for $x from 1 through 12 {
    .col-lg-#{$x} {
      width: 100%;
      max-width: percentage(1/12) * $x;
    }
  }
} ;
