*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  padding: 0 1rem;
  display: inline-block;
}
