@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
$max-width: 77.5rem;
$box-padding: 1.25rem;
$header-link: #1a1a1a;
$animation-time: 0.35s;
$btn-color: #253993;
