@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
$max-width: 77.5rem;
$box-padding: 1.25rem;
$header-link: #1a1a1a;
$animation-time: 0.25s;
$btn-color: #ffaa19;
$black-color: #1a1a1a;
$white-color: #e6e1dc;
$title-color: #253993;
$black-bg: #292929;
$grey-bg: #e2e2e2;
