.form-submit__account {
  text-transform: none !important;
  letter-spacing: 1px;
}
.form-account__header {
  h3 {
    text-align: left;
  }
  padding-left: 10px;
  color: #676767;
}
.form-account__link {
  padding-left: 10px;
  strong {
    font-weight: 400;
    text-decoration: underline;
    color: rgb(68, 56, 238);
    cursor: pointer;
  }
}
.form-account__error {
  color: red;
  font-size: 12px;
  text-align: left;
  padding-left: 16px;
  width: 100%;
  margin: 0;

  &:before {
    display: inline;
    content: "⚠ ";
  }
}
.form-account__recover-password {
  margin: 0;
  font-size: 14px;
  color: #343434;
  text-decoration: underline;
  margin-right: auto;
  padding-left: 1.2rem;
  cursor: pointer;
}
