header.boxFull {
  position: absolute;
  z-index: 2020;
  padding: 1rem 0;

  vertical-align: baseline;
  background: transparent;
  // @include respond(lg) {
  //   background-image: linear-gradient(105deg, #f8f5f2, #fbeaea);
  // }
  .header-burger-menu {
    display: block;
    @include respond(md) {
      display: none;
    }
    margin-left: auto;

    cursor: pointer;
    .button-menu {
      position: relative;
      display: block;
      width: 60px;
      height: 25px;
      right: -20px;

      span {
        display: block;
        position: absolute;
        width: 25px;
        height: 4px;
        background: $header-link;
        border-radius: 3px;
        transition: all $animation-time linear;
        left: 1rem;
        transform: rotate(0deg);
        &:nth-child(1) {
          background: #000000;
          display: inline-block;
          top: 0;
        }
        &:nth-child(2) {
          background: #dd0000;
          top: 11px;
        }
        &:nth-child(3) {
          background: #ffce00;
          top: 22px;
        }
      }
      &__active {
        span:nth-child(1) {
          background: $header-link;
          top: 11px;
          transform: rotate(135deg);
        }
        span:nth-child(2) {
          top: 0px;
          left: -100px;
          width: 60px;
          height: 25px;
          background: linear-gradient(
            to bottom,
            #000000 33%,
            #dd0000 34%,
            #dd0000 66%,
            #ffce00 67%
          );
        }
        span:nth-child(3) {
          background: $header-link;
          top: 11px;
          transform: rotate(-135deg);
        }
      }
    }
    &:focus {
      outline: none;
    }
  }

  .header-navlink {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    transform: translateX(-100%);

    // display: none;
    position: absolute;
    z-index: 2020;
    top: 65px;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f5f2;
    ul {
      flex-direction: column;
      margin-top: 3rem;
      li {
        width: 100%;
        background: #fff;
        border-radius: 2px;
        margin-bottom: 2px;
        border-bottom: 1px solid #cecece;
        &:hover {
          background: darken(#fff, 6%);
        }
        &:hover a {
          color: #985009;
          fill: #985009;
        }
        a {
          width: 100%;
          display: flex;
          align-items: center;
          span:nth-child(1) {
            margin-right: 1rem;
            color: #985009;
            fill: #985009;
          }
        }
      }
    }
    transition: all $animation-time ease-in-out;

    &__items {
      align-items: flex-start;
      a {
        font-weight: 400;
        color: $header-link;
        padding: 1rem;
      }
    }
    @include respond(md) {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: unset;
      position: unset;
      transform: unset;
      margin-left: auto;
      margin-right: -1rem;
      background-color: transparent;
      ul {
        flex-direction: row;
        margin-top: unset;
        li {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          border: unset;
          background: transparent;
          margin-bottom: unset;
          margin-right: 0.5rem;
          a {
            // padding: 1rem 0.6rem;
            span:nth-child(1) {
              // margin-right: 4px;
              display: none;
            }
          }
          &:nth-last-child(1) {
            text-transform: uppercase;

            a {
              @include btn;
              span:nth-child(1) {
                // margin-right: 4px;
                display: block;
                svg {
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }

    &__active {
      transform: translateX(0);
      display: block;
      opacity: 1;
    }
  }
}
