@import "./shared/variables";
@import "./shared/reset";
@import "./shared/respond";
@import "./shared/mixins";
@import "./shared/button";

@import "./Header/header";
@import "./Intro/intro";
@import "./Termin/termin";
@import "./Services/services";
@import "./Wedo/wedo";
@import "./Contact/contact";
@import "./Footer/footer";
@import "../templates/productDetails.scss";

.wrap-site {
  main {
    // padding-top: 100px;
  }
}

// OVERRIDEN CSS
.slick-dots li {
  margin: 0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #443f43 !important;
}
.subtitle {
  height: 36px;
  margin-bottom: 6px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 2;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  line-height: 18px;
  color: #333;
}
/////////////////
